@import 'navigation';
@import 'heading';




/*
**************
Page layout
**************
*/
html {
  font-size: 16px;
  font-family: sans-serif;
  background-color: #E8EAF6;
}

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1em;
}




/*
**************
Customizing
navigation
**************
*/
.fixed-nav-bar {
  background-color: #3f51b5;
}

.search-box {
  background-color: #E8EAF6;
}

@media only screen and (max-width : 600px) {
  .fixed-nav-bar {
    background-color: #111;
  }
}


/*
**************
CSS for text content
Pinterest style boxes
**************
*/

.box-container {
  -webkit-column-width: 220px;
     -moz-column-width: 220px;
          column-width: 220px;
  margin: 2em auto;
}

.box {
  display: inline-block;
  width: 100%;
  height: 300px;
  background-color: #5C6BC0;
  margin-bottom: 0.75em;
  border-radius: 2px;
  column-break-inside: avoid;
}

.one {
  height: 500px;
}

.two {
  height: 600px;
}

.three {
  height: 200px;
}

.four {
  height: 400px;
}

.five {
  height: 450px;
}